@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 250, 252;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 23, 42;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

* {
  font-weight: Outfit;
}

/* Estilos personalizados para la barra de desplazamiento */
/* .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.7);
} */

/* .curve{
  position: absolute;
  height: 39px;
  width: 43px;
}
.curve::before{
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 48%;
  height: 71%;
  background-color: #1e1e1e;
  transform: translate(93%, 94%);
}
.curve::after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 48%;
  height: 71%;
  background-color: #1e1e1e;
  transform: translate(93%, -52%);

} */

